In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
energy_consumption = pd.read_csv('2021-11-26-15-40 Chronograf Data.csv')
humidityandtemperature  = pd.read_csv('2021-11-26-15-41 Chronograf Data-2.csv')
water_consumption = pd.read_csv('2021-11-26-15-42 Chronograf Data-2.csv')
co2_emissions = pd.read_csv('2021-11-26-15-42 Chronograf Data.csv')

In [3]:
energy_consumption.head()

                            time  MCF-LW12PLG.mean_active_power
0  2021-11-19T15:16:00.000+01:00                      21.500000
1  2021-11-19T15:44:00.000+01:00                      21.000000
2  2021-11-19T16:12:00.000+01:00                      21.500000
3  2021-11-19T16:40:00.000+01:00                     198.200000
4  2021-11-19T17:08:00.000+01:00                      21.454545

In [4]:
humidityandtemperature.head()

,time,MCF-LW12CO2.mean_humidity,MCF-LW12CO2.mean_temperature
0,2021-11-19T15:16:00.000+01:00,NaN,NaN
1,2021-11-19T15:44:00.000+01:00,40.0,22.40
2,2021-11-19T16:12:00.000+01:00,39.5,22.42
3,2021-11-19T16:40:00.000+01:00,39.0,22.42
4,2021-11-19T17:08:00.000+01:00,38.5,22.32

In [5]:
water_consumption.head()

                            time  Water_meter.mean_water_meter_reading
0  2021-11-19T15:16:00.000+01:00                                   NaN
1  2021-11-19T15:44:00.000+01:00                                   0.0
2  2021-11-19T16:12:00.000+01:00                                   0.0
3  2021-11-19T16:40:00.000+01:00                                   0.0
4  2021-11-19T17:08:00.000+01:00                                   0.0

In [6]:
co2_emissions.head()

                            time  MCF-LW12CO2.mean_co2
0  2021-11-19T15:16:00.000+01:00                   NaN
1  2021-11-19T15:44:00.000+01:00                 515.0
2  2021-11-19T16:12:00.000+01:00                 515.0
3  2021-11-19T16:40:00.000+01:00                 488.0
4  2021-11-19T17:08:00.000+01:00                 460.0

In [7]:
energy_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   time                           361 non-null    object
 1   MCF-LW12PLG.mean_active_power  361 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [8]:
humidityandtemperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   time                          361 non-null    object
 1   MCF-LW12CO2.mean_humidity     333 non-null    float64
 2   MCF-LW12CO2.mean_temperature  333 non-null    float64
dtypes: float64(2), object(1)
memory usage: 8.6+ KB

In [9]:
water_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 2 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   time                                  361 non-null    object
 1   Water_meter.mean_water_meter_reading  336 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [10]:
co2_emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  361 non-null    object
 1   MCF-LW12CO2.mean_co2  333 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [11]:
energy_consumption['time'] = pd.to_datetime(energy_consumption['time'])
humidityandtemperature['time'] =  pd.to_datetime(humidityandtemperature['time'])
water_consumption['time'] = pd.to_datetime(water_consumption['time'])
co2_emissions['time'] =  pd.to_datetime(co2_emissions['time'])

In [12]:
print("energy_consumption max min")
print("min =",min(energy_consumption['time']))
print("max =",max(energy_consumption['time']))

energy_consumption max min
min = 2021-11-19 15:16:00+01:00
max = 2021-11-26 15:16:00+01:00

In [13]:
print("humidityandtemperature max min")
print("min =",min(humidityandtemperature['time']))
print("max =",max(humidityandtemperature['time']))

humidityandtemperature max min
min = 2021-11-19 15:16:00+01:00
max = 2021-11-26 15:16:00+01:00

In [14]:
print("water_consumption max min")
print("min =",min(water_consumption['time']))
print("max =",max(water_consumption['time']))

water_consumption max min
min = 2021-11-19 15:16:00+01:00
max = 2021-11-26 15:16:00+01:00

In [15]:
print("co2_emissions max min")
print("min =",min(co2_emissions['time']))
print("max =",max(co2_emissions['time']))

co2_emissions max min
min = 2021-11-19 15:16:00+01:00
max = 2021-11-26 15:16:00+01:00

In [16]:
print(energy_consumption.index)
print(humidityandtemperature.index)
print(water_consumption.index)
print(co2_emissions.index)

RangeIndex(start=0, stop=361, step=1)
RangeIndex(start=0, stop=361, step=1)
RangeIndex(start=0, stop=361, step=1)
RangeIndex(start=0, stop=361, step=1)

# mearge 1 experiment

In [17]:
final_df=energy_consumption.merge(humidityandtemperature,on='time').merge(water_consumption,on='time').merge(co2_emissions,on='time')
final_df.head()

,time,MCF-LW12PLG.mean_active_power,MCF-LW12CO2.mean_humidity,MCF-LW12CO2.mean_temperature,Water_meter.mean_water_meter_reading,MCF-LW12CO2.mean_co2
0,2021-11-19 15:16:00+01:00,21.500000,NaN,NaN,NaN,NaN
1,2021-11-19 15:44:00+01:00,21.000000,40.0,22.40,0.0,515.0
2,2021-11-19 16:12:00+01:00,21.500000,39.5,22.42,0.0,515.0
3,2021-11-19 16:40:00+01:00,198.200000,39.0,22.42,0.0,488.0
4,2021-11-19 17:08:00+01:00,21.454545,38.5,22.32,0.0,460.0

In [18]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361 entries, 0 to 360
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   time                                  361 non-null    datetime64[ns, pytz.FixedOffset(60)]
 1   MCF-LW12PLG.mean_active_power         361 non-null    float64
 2   MCF-LW12CO2.mean_humidity             333 non-null    float64
 3   MCF-LW12CO2.mean_temperature          333 non-null    float64
 4   Water_meter.mean_water_meter_reading  336 non-null    float64
 5   MCF-LW12CO2.mean_co2                  333 non-null    float64
dtypes: datetime64[ns, pytz.FixedOffset(60)](1), float64(5)
memory usage: 19.7 KB

In [19]:
final_df.describe()

,MCF-LW12PLG.mean_active_power,MCF-LW12CO2.mean_humidity,MCF-LW12CO2.mean_temperature,Water_meter.mean_water_meter_reading,MCF-LW12CO2.mean_co2
count,361.000000,333.000000,333.000000,336.000000,333.000000
mean,58.015052,26.891892,21.677958,0.116530,434.433934
std,76.435938,4.364504,0.427514,0.360732,34.874238
min,20.888889,19.500000,20.510000,0.000000,396.000000
25%,21.300000,23.500000,21.400000,0.000000,408.000000
50%,21.444444,26.500000,21.800000,0.000000,419.500000
75%,21.727273,29.500000,21.960000,0.000000,457.000000
max,454.375000,40.000000,22.430000,3.947778,537.000000

In [20]:
print("shape")
print(final_df.shape)

shape
(361, 6)

In [21]:
## Here we will check the percentage of nan values present in each feature
## 1 -step make the list of features which has missing values
features_with_na=[features for features in final_df.columns if final_df[features].isnull().sum()>1]
## 2- step print the feature name and the percentage of missing values

for feature in features_with_na:
    print(feature, (np.round(final_df[feature].isnull().mean(), 4))*100,' % missing values')

MCF-LW12CO2.mean_humidity 7.76  % missing values
MCF-LW12CO2.mean_temperature 7.76  % missing values
Water_meter.mean_water_meter_reading 6.93  % missing values
MCF-LW12CO2.mean_co2 7.76  % missing values

# merge expriment 2

In [22]:




from functools import reduce

# compile the list of dataframes you want to merge
data_frames = [energy_consumption, humidityandtemperature, water_consumption,co2_emissions]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['time'],
                                            how='outer'), data_frames)
df_merged.head()   


## Here we will check the percentage of nan values present in each feature
## 1 -step make the list of features which has missing values
features_with_na=[features for features in df_merged.columns if df_merged[features].isnull().sum()>1]
## 2- step print the feature name and the percentage of missing values

for feature in features_with_na:
    print(feature, (np.round(df_merged[feature].isnull().mean(), 4))*100,' % missing values')

MCF-LW12CO2.mean_humidity 7.76  % missing values
MCF-LW12CO2.mean_temperature 7.76  % missing values
Water_meter.mean_water_meter_reading 6.93  % missing values
MCF-LW12CO2.mean_co2 7.76  % missing values

# merge  expriment 3

In [23]:
final = pd.concat([energy_consumption, humidityandtemperature,water_consumption,co2_emissions])
## Here we will check the percentage of nan values present in each feature
## 1 -step make the list of features which has missing values
features_with_na=[features for features in final.columns if final[features].isnull().sum()>1]
## 2- step print the feature name and the percentage of missing values

for feature in features_with_na:
    print(feature, np.round(final[feature].isnull().mean(), 4)*100,' % missing values')

MCF-LW12PLG.mean_active_power 75.0  % missing values
MCF-LW12CO2.mean_humidity 76.94  % missing values
MCF-LW12CO2.mean_temperature 76.94  % missing values
Water_meter.mean_water_meter_reading 76.73  % missing values
MCF-LW12CO2.mean_co2 76.94  % missing values

# merge expriment 4

In [24]:
from functools import reduce
# compile the list of dataframes you want to merge
data_frames = [energy_consumption, humidityandtemperature,water_consumption,co2_emissions]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['time'],
                                            how='outer'), data_frames).fillna('void')

# if you want to fill the values that don't exist in the lines of merged dataframe simply fill with required strings as

#df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['time'],how='outer'), data_frames).fillna('void')
    
features_with_na=[features for features in df_merged.columns if df_merged[features].isnull().sum()>1]
## 2- step print the feature name and the percentage of missing values

for feature in features_with_na:
    print(feature, np.round(df_merged[feature].isnull().mean(), 4)*100,' % missing values')